<template>
  <div id="wrapper">
    <main>
      <b-card no-body :header="header">
        <b-list-group flush>
          <b-list-group-item
            class="cursor-pointer"
            variant="danger"
            v-on:click="openExternal(pullRequest.repository.project.name, pullRequest.repository.name, pullRequest.pullRequestId)"
            v-for="pullRequest of pullRequests.withoutReviewers"
            v-bind:key="pullRequest.id"
            :title="pullRequest.title"
          >
            <div> {{ pullRequest.repository.name }} </div>
            <div> ID: {{ pullRequest.pullRequestId }} </div>
            <div> {{ formatDate(pullRequest.creationDate) }} </div>
            <div> {{ pullRequest.createdBy.displayName }} </div>
          </b-list-group-item>

          <b-list-group-item
            class="cursor-pointer"
            variant="info"
            v-on:click="openExternal(pullRequest.repository.project.name, pullRequest.repository.name, pullRequest.pullRequestId)"
            v-for="pullRequest of pullRequests.withReviewers"
            v-bind:key="pullRequest.id"
            :title="pullRequest.title"
          >
            <div> {{ pullRequest.repository.name }} </div>
            <div> ID: {{ pullRequest.pullRequestId }} </div>
            <div> {{ formatDate(pullRequest.creationDate) }} </div>
            <div> {{ pullRequest.createdBy.displayName }} </div>
            <strong> Reviewers: </strong>
            <div v-for="reviewer of pullRequest.reviewers" v-bind:key="reviewer.id">
              {{ reviewer.displayName }}
            </div>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </main>
  </div>
</template>

<script>
import moment from 'moment';
import pluralize from 'pluralize';
import path from 'path';

import EventBus from '../router/event-bus';

export default {
  name: 'landing-page',
  data() {
    return {
      polling: null,
      pullRequests: {
        withoutReviewers: [],
        withReviewers: [],
      },
      header: null,
    };
  },
  methods: {
    pollData() {
      const promises = [];

      // Get Pull Requests By Project
      this.$settings.get('projects').forEach((project) => {
        promises.push(this.$http
          .get(`/${project}/_apis/git/pullrequests`, {
            auth: {
              username: this.$settings.get('token'),
            },
          }));
      });

      Promise.all(promises)
        .finally(() => {
          EventBus.$emit('loading', false);
        })
        .then((responses) => {
          EventBus.$emit('error', null);

          const pullRequests =
            responses
              .map(response => response.data.value)
              .reduce((prev, curr) => prev.concat(curr))
              .sort((a, b) => a.pullRequestId - b.pullRequestId);

          // 'isContainer' means it's a default reviewer
          this.pullRequests.withoutReviewers = pullRequests.filter(pullRequest =>
            pullRequest.reviewers.length === 0 ||
            pullRequest.reviewers.every(reviewer => reviewer.isContainer));

          this.pullRequests.withReviewers = pullRequests.filter(pullRequest =>
            !this.pullRequests.withoutReviewers.some(pullRequestWithoutReviewers =>
              pullRequest.pullRequestId === pullRequestWithoutReviewers.pullRequestId));

          this.header = `Refreshed: ${moment().format('HH:mm:ss')}`;
        })
        .catch((error) => {
          EventBus.$emit('error', error);
        });
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YY HH:mm:ss');
    },
    openExternal(projectName, repositoryName, pullRequestId) {
      this.$electron.shell.openExternal(`${
        this.$http.defaults.baseURL
      }/${projectName}/_git/${repositoryName}/pullrequest/${pullRequestId}`);
    },
  },
  watch: {
    'pullRequests.withoutReviewers': function (val, oldVal) { // eslint-disable-line
      this.$electron.ipcRenderer.send('update-badge', val.length > 0 ? val.length : null);

      const message = `${val.length} pull ${pluralize('request', val.length)} pending review`;

      const trayOptions = {
        path: path.join(__static, val.length > 0 ? 'logo-warn.png' : 'logo-ok.png'),
        toolTip: `tfs-notifier\nStatus: ${val.length > 0 ? message : 'Ok'}`,
      };

      this.$electron.ipcRenderer.send('update-tray', trayOptions);

      // Notify whenever pull requests without reviewers
      // has actually changed and window is not focused
      const shouldNotify =
            (val
              .map(pullRequest => pullRequest.pullRequestId)
              .filter(pullRequestId => !oldVal
                .map(pullRequest => pullRequest.pullRequestId)
                .includes(pullRequestId)).length > 0) &&
            !this.$electron.remote.getCurrentWindow().isFocused();

      if (shouldNotify) {
        EventBus.$emit('notification', message);
      }
    },
  },
  beforeDestroy() {
    clearInterval(this.polling);
  },
  created() {
    this.pollData();
    this.polling = setInterval(this.pollData, this.$settings.get('refreshInterval') * 1000);
  },
};
</script>